.container {
    width: 400px;
    height: 400px;
    background-color: rgb(64, 213, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #bd359f;
    color: rgb(232, 244, 98);
    transition: background-color 0.3s ease;
}

button:active {
    transform: scale(0.98);
}